
<div class="wrapper">
    <div class="sidebar" data-color="white" data-background-color="red" data-image="./assets/img/sidebar-1.jpg">
        <ijs-london-sidebar-cmp>
        </ijs-london-sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel">
        <ijs-london-navbar-cmp>
        </ijs-london-navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="!isMap()">
            <ijs-london-footer-cmp>
            </ijs-london-footer-cmp>
        </div>
    </div>
    <ijs-london-fixedplugin>
    </ijs-london-fixedplugin>
</div>
