<div class="main-content">
    <div class="container-fluid">
        <h3>Manage Listings</h3>
        <br>
        <div class="row">
            <div class="col-md-4" *ngFor="let item of listings$ | async">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="{{item.image}}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-actions text-center">
                            <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                                [matTooltipPosition]="'below'">
                                <i class="material-icons">art_track</i>
                            </button>
                            <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                                [matTooltipPosition]="'below'">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                                [matTooltipPosition]="'below'">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <h4 class="card-title">
                            <a href="#pablo">{{item.title}}</a>
                        </h4>
                        <div class="card-description">
                            {{item.description}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>{{item.priceInfo}}</h4>
                        </div>
                        <div class="stats">
                            <p class="card-category"><i class="material-icons">place</i>{{item.location}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>